@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scroll {
  scrollbar-width: 1px;
  scrollbar-color: #b91c1c transparent;
}

.custom-scroll::-webkit-scrollbar {
  background-color: transparent;
  scrollbar-width: 1px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  scrollbar-width: 1px;
  background-color: #b91c1c;
}

.custom-scroll::-webkit-scrollbar-track {
  scrollbar-width: 1px;
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 1px;
}

html {
  background-color: #171717;
  color: #fffafa;
}
.above_zero {
  color: #10b981;
  border-color: #10b981;
}
.below_zero {
  color: #b91c1c;
  border-color: #b91c1c;
}
